#bodyWrapper {
    margin: auto;
    width: 97%;
    max-width: 430px;
    text-align: center;
}

#result {
    width: 100%;
    display: none;
}

#openedIMG {

}

#recognize_another {
    color: white;
    background: rgb(47, 138, 185);
    font-weight: bold;
    padding: 10px;
    border: 1px white solid;
    font-size: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

#recognize_another:hover {
    color: white;
    background: rgb(42, 122, 162);
    font-weight: bold;
    padding: 10px;
    border: 1px white solid;
    font-size: 100%;
    border-radius: 3px;
    margin-top: 5px;
}

#uploader {
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}